*{  
    text-align: center;
    background-color: rgb(22, 116, 99);
}
.container{
    padding:10px;
    height:70vh;
    display: flex;
    justify-content: center;

}
.game{
    height: 60vmin;
    width:60vmin;
    /* display:block; */
   display: flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    font-size: 4rem;
    gap:1.5rem;
    color: rgb(179, 64, 25);
    border-radius:1rem;
    justify-content: center;
    background-color:#ffffc7;
   
}
#reset{ 
    margin-top: 15px;
    background-color: rgb(58, 7, 7);
    color: white;
    font-size: 1rem;
    height:6vmin;
    width:12vmin;
}
#newbtn{
    background-color: rgb(10, 192, 212);
    margin-top: 28px;
    margin-left: 7px;
    color:white;
    display: flex;
     justify-content: center;
     align-items: center;
    height:5vmin;
    
    
}
#msg{
    color: rgb(236, 199, 11);
     
     font-size: 2rem;
     
}
.hide{
    color: rgb(236, 199, 11);
    height: 2rem;
   
     margin: 100px;
     font-size: 2rem;
     justify-content: center;
}
#imgbox{
     display:flex;
     width:400px;
     height: 400px;
     justify-content: center;
     align-items: center;
}
@media screen and (max-width: 950px)
{
    .game{
        flex-wrap: wrap;
        margin-top: 34px;
    }
    
    .hide{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}